.skills {
    background-color: var(--primary-transparent);
    padding: var(--spacing-4);
}

.skills_infos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--spacing-2);
}

.skill {
    border-radius: 4px;
    box-shadow: 0 0 var(--shadow-length, 8px) -4px var(--intermediate);
    background-color: var(--light);
    margin:0;
    padding: var(--spacing-4);
    text-align: center;
}

.skill:hover {
    --shadow-length: 12px;
    filter: brightness(105%);
    overflow: hidden;
}

.skill:hover img { 
    scale: 1.1;
    transition: 0.5s;
}

.skill figcaption {
    margin-block-start: var(--spacing-2);
}

.skills p {
    margin-block-end: var(--spacing-4);
}