:root {
    --primary: rgb(10, 169, 231);
    --primary-transparent: rgb(10, 169, 231, 0.05);
    --secondary: rgb(231, 128, 10);
    --light: rgb(246, 247, 248);
    --light-transparent: rgba(246, 247, 248, 0.5);
    --dark: #394447;
    --intermediate: #8c9397;
    --error: #da0808;
    --error-transparent: #da080855;

    --font-title: 'Maven Pro', sans-serif;
    --font-text: 'Roboto', sans-serif;
    --font-size: 20px;

    --spacing: 8px;
    --spacing-2: calc(var(--spacing) * 2);
    --spacing-3: calc(var(--spacing) * 3);
    --spacing-4: calc(var(--spacing) * 4);

    --navbar-height: 70px;
    --navbar-index:1;
    --menu-index:2;

    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    margin:0;
    background-color: var(--light);
    font-family: var(--font-text);
    font-size: var(--font-size);
    line-height: 150%;
    font-weight: 300;
}

h1, h2, h3, h4 {
    color: var(--primary);
    font-family: var(--font-title);
    font-weight: lighter;
}

svg {
    width: 1em;
    height: 1em;
    vertical-align: -2px;
}


p {
    font-size: 22px;
}

a:any-link {
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    color: var(--primary);
}